@font-face {
  font-family: saveurSans;
  src: url(fonts/Saveur_sans.otf);
}

@font-face {
  font-family: jost;
  src: url(fonts/Jost.ttf);
}

@font-face {
  font-family: jost_light;
  src: url(fonts/Jost_light.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ===================== NAVBAR ===================== */

.navbar {
  
   
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: white;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 1000;


}



.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  font-family: 'Poppins', sans-serif;
  color: black;
  padding: 0 12px;
  font-size: 0.8em;
  text-decoration: none;
  
}

.navbar:hover ul li a,
.navbar.scrolled ul li a {
  color: black;
}

.navbar .brand {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
}


.navbar:hover .brand,
.navbar.scrolled .brand {
  color: black;
}

.navbar i.fa-bars,
.navbar i.fa-magnifying-glass {
  color: black;
}

.navbar:hover i.fa-bars,
.navbar:hover i.fa-magnifying-glass,
.navbar.scrolled i.fa-bars,
.navbar.scrolled i.fa-magnifying-glass {
  color: black;
}

/* ===================== HERO VIDEO ===================== */

section {
  margin: 0;
  color: white;
  text-align: center;
  overflow: hidden;
}

.videobg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
}

.videobg h2 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}




.videobg input:hover {
  box-shadow: inset 0 0 0 1px white;
}

/* ===================== MOBILE ===================== */


.brand_png {
  margin:auto ;
    width: 150px;                /* Set the width you want */
    height: 150px;               /* Set the height you want */
    background-image: url('../img/Lv_png.png'); /* Path to your image */
    background-size: contain;   /* Keep aspect ratio */
    background-repeat: no-repeat; 
    
}

  .navbar .brand_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* same as navbar height */
}
  .navbar .brand_svg svg {
  display: block;
}
.menu-item {
  margin-left: 25px; /* adjust value as needed */
}
.navbar .brand {
    padding-left: 10px;
	display: block;
    width: 70px;            /* same as PNG */
    height: 70px;           /* same as PNG */
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
  }

#logo {
  cursor: pointer;
}
